.login{
    width: 100%;
    height: 80vh;
    display: grid;
    justify-content: center;
    align-items: center;
}
.login div{
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 350px;
}
.login button{
    width: 100%;
    height: 50px;
    border: none;
    color: white;
    background-color: rgba(51, 160, 255, 1);
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}
.login select{
    width: 70px;
    height: 30px;
    border-radius: 5px;
}
@media screen and (max-width: 420px) {
    .login div{
        width: 100%;
    }
 }