.sigleels{
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}
.singflex{
    display: flex;
    width: 80%;
    gap: 10%;
}
.sigleels img{
    width: 300px;
}
.inf{
    text-align: start;
    display: grid;
    grid-template-columns: max-content;
    gap: 10px;
}
.rts{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: end;
}
.inf h3{
    width: 100%;
}

.inf div{
    width: 100%;
}
.ddd{
    display: flex;
    width: 100%;
    text-align: start;
    justify-content: end;
    align-items: end;
}
.ddd *{
    display: flex;
    gap: 7px;
    width:100%;
    justify-content: baseline;
    align-items: end;
}
.colors{
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 100%;
    gap: 10px;
    text-align: start;
}
.colors *{
    width: 100%;
}
.colors h4{
    width: 300%;
}
.countbox{
    display: flex;
}
.countbox *{
    display: flex;
    justify-content: center;
    align-items: center;
}
.counts{
    width: 100px;
    background-color: rgba(246, 247, 248, 1);

}
.counts button{
    width: 40px;
    height: 40px;
    border: none;
    background-color: rgba(246, 247, 248, 1);
    color: rgba(51, 160, 255, 1);
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.likebtns{
    width: 100px;
    height: 40px;
    background-color: rgb(224, 240, 255);
    border: 1px solid rgba(51, 160, 255, 1);
    color: rgba(51, 160, 255, 1);
    border-radius: 5px; 

}
.lik{
    width: 40px;
    border: 1px solid rgba(51, 160, 255, 1);
    height: 40px;
    background-color: rgb(224, 240, 255);
    color: rgba(51, 160, 255, 1);
    border-radius: 5px; 
}
.bs{
    padding: 10px;
    display: grid;
    justify-content: center;
    width: 230px;
    height: 360px;
    border: 3px solid rgba(246, 247, 248, 1);
    img{
        width: 80%;
    }
}
.bs:hover{
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.sel{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sel select{
    width: 100px;
    padding-left: 10px;
    height: 30px;
    border: 2px solid rgba(241, 243, 244, 1);
}
.rts p{
    color: rgba(51, 160, 255, 1);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
}
.rts p span{
    font-size: 13px;
    opacity: 0.3;
    color: black;
}
.ddd p{
    color: rgba(64, 191, 255, 1);
    font-weight: 700;
    letter-spacing: 0.5px;
}
.sp{
    color: red;
    font-weight: 600;
    width:300%;
}
.sp2{
    color: black;
    font-size: 11px;
    text-decoration: line-through;
    opacity: 0.3;
}
.inf hr{
    opacity: 0.5;
    width: 120%;
}
.bb h3{
    font-weight: 500;
    opacity: 0.4;
    font-size: 15px;
}
.face button{
    width: 45%;
    height: 30px;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    border-radius: 5px;
    background-color: rgba(56, 92, 142, 1);
}
.face{
    display: flex;
    width: 100%;
    /* gap: 20%; */
    justify-content: space-between;
}
.infopr{
    display: grid;
    width: 100%;
    text-align: start;
    height: 150px;
    background-color: rgba(250, 250, 251, 1);
    border-radius: 5px;
    padding: 20px 45px;
}
.infopr h4{
    width: 100%;
    color: rgba(46, 144, 229, 1);
}
.infopr p{
    width: 100%;
    opacity: 0.5;
}
.related{
    display: grid;
}
.related h3{
    font-size: 25px;
    font-weight: 600;
}
.listlar{
    display: flex;
    width: 100%;
    gap: 10px;
}
.listlar li img{
    width: 100%;
}
.navigs{
    display: flex;
    width: 100%;
    background-color: rgba(246, 247, 248, 1);
    height: 35px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.navigs p{
    color: rgba(51, 160, 255, 1);
    font-size: 16px;
    font-weight: 400;
}
.navigs span{
    color: black;
}